language: bash
env:
      global:
      - LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
      - CACHE="$HOME/.cache/entities"
      - XML_CATALOG_FILES="catalog.xml"
      - GITHUB_URL="https://raw.githubusercontent.com/openSUSE/doc-ci/master/travis/travis.sh"

dist: yakkety

cache:
  directories:
    - $CACHE

addons:
  apt:
    packages:
    - libxml2-utils
    - libxml2-dev
    - libxml2

before_script:
    - cat /etc/os-release
    - echo $TRAVIS_COMMIT
    - xmllint --version
    - wget $GITHUB_URL && chmod +x travis.sh

script:
    - ./travis.sh xml/*.xml

branches:
    except:
        - trans/*

