language: bash
env:
      global:
      - LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
      - CACHE=$HOME/.cache/entities
      - XML_CATALOG_FILES="catalog.xml"

dist: yakkety

cache:
  directories:
    - $HOME/.cache/entities

addons:
  apt:
    packages:
    - libxml2-utils
    - libxml2-dev
    - libxml2

before_script:
    - cat /etc/os-release
    # - ls xml/*.xml
    - echo $TRAVIS_COMMIT
    - xmllint --version

script:
    - echo -en 'travis_fold:start:catalog_creation\r'
    - xmlcatalog --noout --create catalog.xml
    - xmlcatalog --noout --add system "http://www.oasis-open.org/docbook/xml/4.5/dbcentx.mod" "$CACHE/dbcentx.mod" catalog.xml
    - xmlcatalog catalog.xml "http://www.oasis-open.org/docbook/xml/4.5/dbcentx.mod"
    - echo -en 'travis_fold:end:catalog_creation\r'
    # ---------------------
    - echo -en 'travis_fold:start:download\r'
    - test -e $CACHE || ( mkdir -p $CACHE; wget -P $CACHE http://docbook.org/xml/4.5/docbook-xml-4.5.zip; unzip -d $CACHE $CACHE/docbook-xml-4.5.zip )
    - echo -en 'travis_fold:end:download\r'
    # ---------------------
    - echo -en 'travis_fold:start:entities\r'
    - cp -vi $CACHE/*.mod xml/
    - cp -avi $CACHE/ent xml/
    - echo -en 'travis_fold:end:entities\r'
    # ---------------------
    - echo -en 'travis_fold:start:xmlcheck\r'
    - for file in xml/*.xml; do echo ">>> $file"; xmllint --nonet --noout --noent $file; done
    - echo -en 'travis_fold:end:xmlcheck\r'
