[files]
extend-exclude =[
  ".typos.config",
  ".editorconfig",
]

[default]
extend-ignore-re = [
  " .ND. protocol",
  "-hda",
  "-hsi",
  "-laf",
  "-parm-",
  ".C.reate",
  "<!ENTITY.*",
  "<imageobject role=\"fo\">",
  ">chage<",
  ">hda<",
  ">readby<",
  ">stap.",
  ">stap<",
  "ACI",
  "AER",
  "Brian Tung",
  "HDA Beep",
  "HPE[_ ]3PAR",
  "InstNetDev=hsi",
  "LAF config",
  "MIS:",
  "MY_2ND_SERVICE",
  "PARM AUTO",
  "PnP",
  "SME",
  "THR",
  "Verweise auf alle anderen UEFI",
  "[ &]stap[ ;]",
  "[_-]hda[_-]",
  "acronym-aer",
  "browseable",
  "bsi.bund.de",
  "bzBEoAcwBaADAgEAoTkwN6AD",
  "chage -",
  "daa5732ecd02",
  "dbsuse-fo",
  "de-lat1-nd",
  "dev='hda'",
  "do_filp",
  "dynamicdns",
  "env stap",
  "hda1",
  "hda2",
  "literal>hsi",
  "macvtap, hsi",
  "mch_inchar",
  "mke2fs",
  "nd-neigh",
  "nd-router",
  "option>-ba",
  "option>-ue",
  "options of stap",
  "pam-struc",
  "pn-0",
  "pression",
  "r:hald",
  "ramework .LAF.",
  "readby, trace",
  "role='fo'",
  "ses_enable_ba",
  "stap -.",
  "stap-",
  "stap-client",
  "stap_",
  "sudo;exportfs",
  "tar caf",
  "without  issu-",
  "zypp.sav",
]