/* For local(): open font in Fontforge, go to Element > Font Info...,
   use "Name for Humans" as first local(), "Fontname" as second local(). */

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: local('Open Sans Regular'), local('Open Sans'), local('OpenSans');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  src: local('Open Sans Italic'), local('OpenSans-Italic');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic');
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  font-weight: normal;
  font-style: normal;
  src: url('dejavusansmono.eot');
  src: local('DejaVu Sans Mono Book'), local('DejaVu Sans Mono'), local('DejaVuSansMono');
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  font-weight: 600;
  font-style: normal;
  src: local('DejaVu Sans Mono Bold'), local('DejaVuSansMono-Bold');
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  font-weight: 700;
  font-style: normal;
  src: local('DejaVu Sans Mono Bold'), local('DejaVuSansMono-Bold');
}